@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");

.App {
  text-align: center;
  background-color: #effaff;
}

.App-logo {
  width: 2em;
  height: 2em;
  margin-bottom: 0;
  margin-right: 0.1em;
  transform: translateY(0.5em);
}

.Settings-Icon {
    height: 3.5rem;
    width: 3.5rem;
    align-self: flex-end;
}

.Navigation-bar {
  background-color: white;
}

.App-link {
  color: #61dafb;
}


@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}